@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0px;
    min-height: 100vh;
}

.header-container, .footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 24px 0px;
}


.header {
    flex-direction: column;
    margin-left: 24px;
    justify-content: space-between;
    padding-bottom: 24px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin-bottom: 48px;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.logo, .hero-main{
    color: #f9f8f9;
}

a {
    text-decoration: none;
    margin-right: 16px;
}

a, .secondary-text, .footer{
    color: #e5e7eb;
    font-size: 18px;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.info-header {
    font-weight: bolder;
    padding: 48px 0px 24px;
}

.info-header, .quote {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

.boxes {
    display: flex;
    gap: 48px;
    margin: 24px 0px 64px;
    padding-bottom: 48px;
    justify-content: center;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 160px;
}

.box {
    border: solid #3882f6 5px;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
}

.box-text {
    text-align: center;
    color: rgb(87, 85, 85);
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex: 1;
    padding: 100px 64px;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-style: italic;
    text-align: left;
    font-weight: 300;
    max-width: 790px;
    padding: 24px 24px 0px;
}

.author {
    font-weight: bold;
    color: #1f2937;
    font-size: 24px;
    margin-left: 200px;
    padding-left: 250px;
}


#btn2 {
    border: white solid 2px;
}

.sign-up-container {
    display: flex;
    padding: 84px;
    margin: 0px 24px;
}

.sign-up-container > .sign-up {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 48px 0px;
    margin: 0px 64px;
    font-size: 18px;
}

#action-title {
    font-size: 24px;
}

.sign-up {
    background-color: #3882f6;
    font-weight: bold;
    color: white;
}

.sign-up .text {
    font-weight: normal;
}

.btn {
    width: 130px;
    padding: 8px 0px;
    margin-top: 8px;
    text-align: center;
    align-self: center;
}

.rounded-corners {
    border-radius: 10px;
}

img {
    width: 550px;
    height: 250px;
}


